<main>
  <h2>Dear {{ name }}</h2>
  <p>Welcome in our system, to confirm your email address please click on the link below</p>
  <p><a href="{{urlConfirmAddress}}">{{urlConfirmAddress}}</a></p>
</main>
